/* FIXME: Beautify the web interface. */

* {
    font-family: monospace;
}

pre {
    border: thin solid #DDDDDD;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:0.1em;
    padding: 0.5em;
}

body {
    margin: 0 0 0 0;
    margin-bottom: 5em;
}

#global {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#contents {
    background: white;
    width: 100%;
    height: auto;
}

#central_column, #central_column:before {
    width: 48%;
}

#central_column {
    float:left;
    padding: 10px 10px;
    height:100%;
    overflow: auto;
}

#central_column:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 16%;
    background: #fff;
    background-color: white;
    border-right: thin solid #DDDDDD;
}

#left_column {
    float:left;
    width:15%;
    height:100%;
    margin: 0 0;
    font-size: 0.8em;
}

ul {
    padding-left: 2em;
}

#left_column:before {
    padding: 0 0;
    width:15%;
    background: #fff;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0%;
    background-color: white;
    border-right: thin solid #DDDDDD;
}

#editor_column {
    float:left;
    width:35%;
    height:100%;
}

#exercise {
    margin-left: 2em;
}

#logo {
    width: 64px;
    height: 48px;
}

div.reactive {
    position: relative;
}

div.editorbutton {
    margin-top: 0.5em;
}

#loader {
    position: absolute;
    z-index: 1;
    top:0em;
    left:0em;
    width: 1em;
    height: 1em;
}

#bar {
    background: white url(/img/bar.png) no-repeat bottom;
    position:fixed;
    width: 100%;
    background-size:100%;
    height: 64px;
    z-index: 100;
}

#hrule {
    background: white url(/img/bar.png) no-repeat bottom;
    width: 100%;
    height: 64px;
}

#homepage_header {
    width: 100%;
    height: 20.5em;
}

#about_box {
    float: right;
    width: 42em;
}

#bar_space {
    height: 64px;
}

#menu {
    padding-top: 1.2em;
    float: right;
}

.link_button {
    text-decoration: underline;
    color: #ff0000;
    cursor:pointer;
}

.menu_button {
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration:none;
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #dddddd;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    color:#000000;
}

.menu_button:hover, .menu_button:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

highlight {
    font-weight: bold;
    font-color: red;
}

div.scroll_entry {
    padding: 0.5em;
    display: block;
    overflow: auto;
}

div.scroll_side {
    display: inline-block;
    width : 5em;
    line-height: 48px;
    height: 48px;
    font-weight:bold;
    padding:5px 15px;
    background: #EEEEEE;
    border: thin solid #DDDDDD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-color:#FFFFFF;
    text-align: center;
}

div.scroll_status {
    float: left;
}

div.scroll_item {
    overflow: auto;
}

div.scroll_item_main {
    margin-bottom: 1em;
    margin-left: 1em;
}

div.scroll_description {
    display: block;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    border-left: solid 1px #DDDDDD;
    padding-left: 1em;
}

div.scroll_short_description {
    display: block;
    margin-top: 0.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
}

div.scroll_commands {
    cursor:pointer;
    font-size: 0.9em;
    display: inline;
}

span.inlined {
    display: inline-block;
}

div.inlined {
    display: inline;
}

form.inlined {
    display: inline;
}

h1 {
    text-align: left;
}

#connection_box {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}

#connection_login {
    margin-left: 2em;
}

#connection_login label {
    padding-right: 10em;
    font-weight:bold;
    font-size: 0.8em;
}

#connection_form input {
    width: 12em;
    padding: 0.05em;
    padding-left: 0.5em;
    font-size: 1.2em;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#connection_form input:focus {
    outline: none;
    border-color: #eeeeee;
    box-shadow: 0 0 10px #fafafa;
}

#connection_password {
    margin-top: 0.5em;
    margin-left: 2em;
}

#connection_password label {
    padding-right: 5em;
    font-weight:bold;
    font-size: 0.8em;
}

#connection_box_actions {
    margin-top: 0.5em;
    margin-left: 2em;
}

#connection_box_message {
    margin-top: 1em;
    margin-left: 2.5em;
    font-weight: bold;
    font-size: 0.8em;
}

#connection_box_signin {
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 0em;
    padding:5px 25px;
    background: #dddddd;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#eeeeee;
}

/* #connection_box_signin:hover { */
/* { */
/*     background-color :#eeeeee; */
/*     -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/*     -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/*     box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/* } */

/* #connection_box_signin:focus { */
/* { */
/*     background-color :#eeeeee; */
/*     -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/*     -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/*     box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/* } */

#connection_box_reset_password {
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 0em;
    padding:5px 25px;
    background: #dddddd;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#eeeeee;
}

/* #connection_box_reset_password:hover, #connection_box_reset_password:focus { */
/* { */
/*     background-color :#eeeeee; */
/*     -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/*     -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/*     box-shadow: 0 0 1px rgba(1, 1, 1, .75); */
/* } */


#connection_box_actions a {
    padding-left: 6em;
    margin-top: 2em;
    font-size: 0.8em;
}

#subscribe_box {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

#subscribe_report {
    padding-top: 1em;
    color: red;
}

#subscribe_form label {
    padding-right: 10em;
    font-weight:bold;
    font-size: 0.8em;
}

#subscribe_form input {
    width: 10em;
    padding: 0.05em;
    padding-left: 0.5em;
    font-size: 1.2em;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#subscribe_form input:focus {
    outline: none;
    border-color: #eeeeee;
    box-shadow: 0 0 10px #fafafa;
}

#subscribe_form span {
    padding-left: 1em;
    font-weight: bold;
    font-size: 0.7em;
}

#subscribe_form_submit {
    margin-top: 1em;
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #dddddd;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#eeeeee;
}

#subscribe_form_submit:hover, #subscribe_form_submit:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

table.results {
    border-collapse:collapse;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

table {
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    border-width:1px;
    padding: 0.2em;
}

thead {
    font-weight:bold;
    background-color:silver;
    border-width:1px;
    border-style:solid;
}

span.editable_cell {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #F0F0F0;
}

td {
    padding-left: 0.5em;
    padding-right: 1em;
}

div.button {
    font-weight:bold;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #AAA69C;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#FFFFFF;
    font-size:1em;
}

div.button:hover, div.button:focus {
    background-color :#99969C;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

span.report {
    font-weight:italic;
}

.message_box {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.left_side {
    float : left;
}

.right_side {
    float : right;
}

.editor_box {
   padding-left: 2em;
   width: 100%;
   height: 80%;
   position: relative;
   margin-top: 1em;
   margin-left: auto;
   margin-right: auto;
}

.editor {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 65em;
   min-height: 25em;
 }

.editor_message {
   font-size: 0.9em;
   margin-top: 0.2em;
   font-style: italic;
   background-color: #EEEEEE;
   width: 71em;
   height: 3em;
   padding-left: 1em;
   padding-top: 5px;
}

div.editor_console_box {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2em;
    margin-down: 0.5em;
    height: 20em;
}

div.editor_console {
    position:relative;
    font-family: courier;
    font-size: 14px;
    background: black;
    color: #21f838;
    padding: 5px;
    overflow: hidden;
    cursor:text;
    height: 100%;
    overflow-y: scroll;
}

span.tag {
    font-style: normal;
    font-weight:bold;
    border-radius : 10px;
    border: 1px solid #AAA69C;
    padding: 2px 15px;
    margin-right: 3px;
}

span.editor_message_button {
    font-style: normal;
    font-weight:bold;
    cursor:pointer;
    float: right;
    margin-left: 1em;
    margin-right: 0.2em;
    padding:1px 15px;
    background: #AAA69C;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#FFFFFF;
    font-size:0.9em;
}

span.editor_message_button:hover, span.editor_message_button:focus {
    background-color :#99969C;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

div.icon {
    padding: 0.1em;
}

span.italic {
    font-style: italic;
}

span.bold {
    font-weight: bold;
}

/* The following is a CSS hack to customize input file style. */
.fileContainer {
    position: relative;
}

.fileContainer [type=file] {
    position:absolute;
    left:0;
    top:0;
    width: 1em;
    height:1em;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}

div.exercise_editor {
    width: 65em;
    margin: 0;
    padding: 0;
    margin-bottom: 4em;
}

div.exercise_sources {
    font-size: 0.9em;
    float: right;
}

div.user_answer {
    margin-top: 0.1em;
    padding: 0.5em;
}

div.homepage_photo {
    float: left;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: auto;
    width: 20em;
}

img.homepage_photo {
    width: auto;
    height: 20em;
}

div.user_input_file {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size:1em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: auto;
    padding:5px 25px;
    background: #dddddd;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    color:#000000;
}

div.user_input_file:hover, div.user_input_file:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

div.context {
    margin-bottom: 1em;
}

.score_div {
    margin-left: 1em;
    min-height: 5em;
}

.score_box {
    border:1px solid #171410;
    padding: 0.1em;
    text-align: center;
    width: 4em;
    min-height: 4em;
}

.score {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.criteria {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 0.8em;
}

table.results_table {
    width: 100%;
    table-layout: fixed;
    margin-top: 1em;
}

.table_id_column {
    overflow: auto; text-align:center; min-width: 5%;
}

.table_name_column {
    overflow: auto; text-align:center; min-width: 20%;
}

.table_friends_column {
    overflow: auto; text-align:center; min-width: 30%;
}

.table_answer_column {
    overflow: auto; text-align:center; min-width: 30%;
}

.table_state_column {
    overflow: auto; text-align:center; min-width: 10%;
}

.table_trace_column {
    overflow: auto; text-align:center; min-width: 5%;
}

.navigation_exo {
    margin-left: 0.5em;
    line-height: 80%;
}

.navigation_section {
    font-weight:bold ;
    margin-top: 1em;
}

.navigation_question {
    cursor: pointer;
}

.navigation_question_done {
    cursor: pointer;
    color: #111111;
}

.master_corner {
    margin-left: 0.5em;
    cursor: pointer;
}

code {
     color: #991111;
     font-style: italic;
}