/* FIXME: Beautify the web interface. */

* {
    font-family: sans-serif;
}

h1 {
    text-align: left;
}

#connection_box {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    border-radius: 15px;
    border-style:solid;
    border-width:5px;
}

#connection_box table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-width:0px;
    border-style:none;
}

#connection_box td {
    border-width:0px;
    border-style:none;
}

#global {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    width: 100em;
}

table.results {
    border-collapse:collapse;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

thead {
    font-weight:bold;
    background-color:silver;
    border-width:1px;
    border-style:solid;
}

td {
    padding: 0.5em;
    border-width:1px;
    border-style:solid;
}

td.description {
    padding: 0.5em;
    width: 40em;
}

td.button {
    text-align: center;
    width: 5em;
}

td.status {
    text-align: center;
    width: 7em;
}

span.button {
    font-weight:bold;
    cursor:pointer;
    padding:5px 25px;
    background: #AAA69C;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#FFFFFF;
    font-size:0.7em;
}

span.button:hover, span.button:focus {
    background-color :#99969C;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

span.report {
    font-weight:italic;
}