/* FIXME: Beautify the web interface. */

* {
    font-family: sans-serif;
}

body {
    margin: 0 0 0 0;
}

#global {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

#contents {
    background: white;
}

#logo {
    width: 64x;
    height: 48px;
}

#bar {
    background: white url(/img/bar.png) no-repeat bottom;
    position:fixed;
    width: 1080px;
    height: 64px;
}

#bar_space {
    height: 64px;
}

div.scroll_entry {
    padding: 0.5em;
    display: block;
    overflow: auto;
}

div.scroll_side {
    display: inline-block;
    width : 5em;
    line-height: 48px;
    height: 48px;
    font-weight:bold;
    padding:5px 15px;
    background: #EEEEEE;
    border: thin solid #DDDDDD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-color:#FFFFFF;
    text-align: center;
}

div.scroll_status {
    float: left;
}

div.scroll_item {
    overflow: auto;
}

div.scroll_item_main {
    margin-bottom: 1em;
    margin-left: 1em;
}

div.scroll_description {
    display: block;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    border-left: solid 1px #DDDDDD;
    padding-left: 1em;
}

div.scroll_short_description {
    display: block;
    margin-top: 0.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
}

div.scroll_commands {
    cursor:pointer;
    font-size: 0.5em;
    display: inline;
}


h1 {
    text-align: left;
}

#connection_box {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    border-radius: 15px;
    border-style:solid;
    border-width:5px;
}

#connection_box table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-width:0px;
    border-style:none;
}

#connection_box td {
    border-width:0px;
    border-style:none;
}


table.results {
    border-collapse:collapse;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

thead {
    font-weight:bold;
    background-color:silver;
    border-width:1px;
    border-style:solid;
}

td {
    padding: 0.5em;
    border-width:1px;
    border-style:solid;
}

span.button {
    font-weight:bold;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #AAA69C;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#FFFFFF;
    font-size:1em;
}

span.button:hover, span.button:focus {
    background-color :#99969C;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

span.report {
    font-weight:italic;
}