/* FIXME: Beautify the web interface. */

* {
    font-family: monospace;
}

body {
    margin: 0 0 0 0;
}

#global {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

#contents {
    background: white;
}

#logo {
    width: 64x;
    height: 48px;
}

#bar {
    background: white url(/img/bar.png) no-repeat bottom;
    position:fixed;
    width: 1080px;
    height: 64px;
}

#bar_space {
    height: 64px;
}

#menu {
    padding-top: 1.2em;
    float: right;
}

.menu_button {
    text-decoration:none;
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #dddddd;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    color:#000000;
}

.menu_button:hover, .menu_button:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}


highlight {
    font-weight: bold;
    font-color: red;
}

div.scroll_entry {
    padding: 0.5em;
    display: block;
    overflow: auto;
}

div.scroll_side {
    display: inline-block;
    width : 5em;
    line-height: 48px;
    height: 48px;
    font-weight:bold;
    padding:5px 15px;
    background: #EEEEEE;
    border: thin solid #DDDDDD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-color:#FFFFFF;
    text-align: center;
}

div.scroll_status {
    float: left;
}

div.scroll_item {
    overflow: auto;
}

div.scroll_item_main {
    margin-bottom: 1em;
    margin-left: 1em;
}

div.scroll_description {
    display: block;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    border-left: solid 1px #DDDDDD;
    padding-left: 1em;
}

div.scroll_short_description {
    display: block;
    margin-top: 0.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
}

div.scroll_commands {
    cursor:pointer;
    font-size: 0.9em;
    display: inline;
}


h1 {
    text-align: left;
}

#connection_box {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}

#connection_login {
    margin-left: 2em;
}

#connection_login label {
    padding-right: 10em;
    font-weight:bold;
    font-size: 0.8em;
}

#connection_form input {
    width: 12em;
    padding: 0.05em;
    padding-left: 0.5em;
    font-size: 1.2em;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#connection_form input:focus {
    outline: none;
    border-color: #eeeeee;
    box-shadow: 0 0 10px #fafafa;
}

#connection_password {
    margin-top: 0.5em;
    margin-left: 2em;
}

#connection_password label {
    padding-right: 5em;
    font-weight:bold;
    font-size: 0.8em;
}

#connection_box_actions {
    margin-top: 0.5em;
    margin-left: 2em;
}

#connection_box_message {
    margin-top: 1em;
    margin-left: 2.5em;
    font-weight: bold;
    font-size: 0.8em;
}

#connection_box_signin {
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 0em;
    padding:5px 25px;
    background: #dddddd;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#eeeeee;
}

#connection_box_signin:hover, connection_box_signin:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

#connection_box_actions a {
    padding-left: 6em;
    margin-top: 2em;
    font-size: 0.8em;
}

#subscribe_box {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

#subscribe_report {
    padding-top: 1em;
    color: red;
}

#subscribe_form label {
    padding-right: 10em;
    font-weight:bold;
    font-size: 0.8em;
}

#subscribe_form input {
    width: 10em;
    padding: 0.05em;
    padding-left: 0.5em;
    font-size: 1.2em;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#subscribe_form input:focus {
    outline: none;
    border-color: #eeeeee;
    box-shadow: 0 0 10px #fafafa;
}

#subscribe_form span {
    padding-left: 1em;
    font-weight: bold;
    font-size: 0.7em;
}

#subscribe_form_submit {
    margin-top: 1em;
    font-size:0.6em;
    font-weight:bold ;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #dddddd;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#eeeeee;
}

#subscribe_form_submit:hover, #subscribe_form_submit:focus {
    background-color :#eeeeee;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}


table.results {
    border-collapse:collapse;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

thead {
    font-weight:bold;
    background-color:silver;
    border-width:1px;
    border-style:solid;
}

td {
    padding: 0.5em;
    border-width:1px;
    border-style:solid;
}

span.button {
    font-weight:bold;
    cursor:pointer;
    margin-right: 1em;
    padding:5px 25px;
    background: #AAA69C;
    border:1px solid #171410;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    box-shadow: 0 0 4px rgba(1, 1, 1, .75);
    font-color:#FFFFFF;
    font-size:1em;
}

span.button:hover, span.button:focus {
    background-color :#99969C;
    -webkit-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    -moz-box-shadow: 0 0 1px rgba(1, 1, 1, .75);
    box-shadow: 0 0 1px rgba(1, 1, 1, .75);
}

span.report {
    font-weight:italic;
}

.message_box {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.left_side {
    float : left;
}

.right_side {
    float : right;
}

.editor_box {
   width: 51em;
   height: 42em;
   position: relative;
   margin-top: 1em;
   margin-left: auto;
   margin-right: auto;
}

.editor {
   position: relative;
   width: 50em;
   height: 40em;
 }

.editor_message {
   font-size: 0.9em;
   margin-top: 0.2em;
   font-weight: bold;
   background-color: #EEEEEE;
   width: 51em;
}